@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a ,#3a4452);
}
.calculater{
    padding: 20px;
    border: 1px rgb(92, 84, 84) solid;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
input{
   width: 100%;
   border: none;
   padding: 24px;
   background: transparent;
   box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
   font-size: 40px;
   text-align: right;
   width: 320px;
   cursor: pointer;
   color: aliceblue;
}
input::placeholder{
    color: aliceblue;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: aliceblue;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgb(88, 80, 80);
    cursor: pointer;
}
.butnOpretor{
    color: rgb(20, 250, 20);
}
.buttonA{
    background-color: rgb(168, 104, 7);
}